@model ProyectoTiendaMVC.Models.Producto

@{
    ViewData["Title"] = "Detalles";
}

<body class="pagina-detalles-producto">

    <h1>Detalles</h1>

    <div>
        <h4>Producto</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Precio)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaCreacion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.categoria)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.categoria)
            </dd>
        </dl>
    </div>
    <div id="volver">
        <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
        <a asp-action="Index">Volver a la lista</a>
    </div>
</body>

